@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

  .Author-page {
    display: flex;
  }
  .Author-sidebar {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #b5b4b4;
    text-align: center;
  }
  .Author-sidebar .Author-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .Author-settings {
    width: 80%;
    padding: 20px;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .form-group input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .btn {
    display: block;
    width: 100%;
    
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
  }

input:read-only {
  background-color: #f3f4f6; /* bg-gray-100 */
}
