@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Basic global styles */
body {
  background-color: #f3f4f6; /* bg-gray-100 */
  margin: 0;
  font-family: sans-serif;
}

input:read-only {
  background-color: #f3f4f6; /* bg-gray-100 */
}
